
// Colores Cumplo
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-initial: #fff!default;
$color-primary: #00ba68!default;
$color-secondary: #3b454e!default;
$color-tertiary: #f4f5f6!default;
$color-quaternary: #d1d1d1!default;
$color-quinary: #e1e1e1!default;
$color-sexenary: #f8bf42!default;
