
// Logos Cumplo
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.logo {
  background-repeat: no-repeat;
  background-size: cover;

  .tasajusta {
    background-image: url(https://secure-cdn.cumplo.cl/logos/cumplo-tasajusta_v.svg);
    width: 250px;
    height: 40px;

    &.color {
      background-image: url(https://secure-cdn.cumplo.cl/logos/cumplo-tasajusta.svg);
    }
  }
  .isotipo {
    background-image: url(https://secure-cdn.cumplo.cl/logos/cumplo-isotipo_v.svg);
    width: 100px;
    height: 100px;

    &.color {
      background-image: url(https://secure-cdn.cumplo.cl/logos/cumplo-isotipo.svg);
    }
  }
  .cumplo {
    background-image: url(https://secure-cdn.cumplo.cl/logos/cumplo-logo_v.svg);
    width: 150px;
    height: 40px;

    &.color {
      background-image: url(https://secure-cdn.cumplo.cl/logos/cumplo-logo.svg);
    }
  }
}
