
// Cumplo Button
// Combinar
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.button,
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  text-transform: none;
  font-size: 1.4rem;
  letter-spacing: 0;
  font-weight: 500;

  &:focus,
  &:hover {
    background-color: darken($color-primary, 10%);
    border-color: darken($color-primary, 10%);
  }

  &.button-outline {
    background-color: transparent;
    color: $color-primary;

    &:focus,
    &:hover {
      background-color: $color-primary;
      border-color: $color-primary;
      color: $color-initial;
    }
  }

  &.button-clear {

    &:focus,
    &:hover {
      color: darken($color-primary, 10%);
    }
  }

  &.button-action {
    background-color: $color-sexenary;
    border: .1rem solid $color-sexenary;

    &:focus,
    &:hover {
      background-color: darken($color-sexenary, 10%);
      border-color: darken($color-sexenary, 10%);
    }

    &[disabled] {

      &:focus,
      &:hover {
        background-color: $color-primary;
        border-color: $color-primary;
      }
    }
  }

  &.button-secondary {
    background-color: lighten($color-septenary, 10%);
    border: .1rem solid lighten($color-septenary, 10%);

    &:focus,
    &:hover {
      background-color: transparent;
      border-color: lighten($color-septenary, 10%);
      color: lighten($color-septenary, 10%);
    }
  }

  &.button-secondary-outline {
    background-color: transparent;
    color: lighten($color-septenary, 10%);
    border: .1rem solid lighten($color-septenary, 10%);

    &:focus,
    &:hover {
      background-color: lighten($color-septenary, 10%);
      border-color: lighten($color-septenary, 10%);
      color: $color-initial;
    }
  }
}

/* Custom size */
.button-small {
  font-size: 1.1rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;
}

.button-large {
  font-size: 1.7rem;
  height: 4.5rem;
  line-height: 4.5rem;
  padding: 0 2rem;
}