
// Colores Cumplo
// Reemplazar
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-initial: #fff!default;
$color-primary: #00ba68!default;
$color-secondary: #323b43!default;
$color-tertiary: #e6eaee!default;
$color-quaternary: #9b9b9b!default;
$color-quinary: #6c7f8e!default;
$color-sexenary: #f8bf42!default;
